<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="priv.yue.sboot.mapper.DeptMapper">

	<sql id="Base_Column_List">
		dept_id, pid, `path`, `name`, sort, enabled, create_by, update_by, create_time, update_time
	</sql>

	<resultMap id="BaseResultMap" type="priv.yue.sboot.domain.Dept">
		<id column="dept_id" jdbcType="BIGINT" property="deptId"/>
		<result column="pid" jdbcType="BIGINT" property="pid"/>
		<result column="path" jdbcType="VARCHAR" property="path"/>
		<result column="name" jdbcType="VARCHAR" property="name"/>
		<result column="sort" jdbcType="INTEGER" property="sort"/>
		<result column="enabled" jdbcType="BIT" property="enabled"/>
		<result column="create_by" jdbcType="VARCHAR" property="createBy"/>
		<result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
	</resultMap>

	<resultMap id="FullResultMap" type="priv.yue.sboot.domain.Dept" extends="BaseResultMap">
		<association property="parentDept" javaType="priv.yue.sboot.domain.Dept" select="selectById" column="pid"/>
		<collection property="subDept" ofType="priv.yue.sboot.domain.Dept" select="selectAllByPid" column="dept_id" />
	</resultMap>

	<resultMap id="PartResultMap" type="priv.yue.sboot.domain.Dept" extends="BaseResultMap">
		<association property="parentDept" javaType="priv.yue.sboot.domain.Dept" select="selectById" column="pid"/>
	</resultMap>

	<select id="selectByPrimaryKey" resultMap="PartResultMap">
		select
		<include refid="Base_Column_List"/>
		from sys_dept
		where dept_id = #{deptId}
		and deleted = 0
	</select>

	<select id="selectAllByPid" resultMap="FullResultMap">
		select
		<include refid="Base_Column_List"/>
		from sys_dept
		where pid = #{pid}
		and deleted = 0
		order by sort
	</select>

	<select id="selectAll" resultType="priv.yue.sboot.domain.Dept">
		select
		<include refid="Base_Column_List"/>
		from sys_dept
		<where>
			<if test="name != null and name != ''">
				and name like "%"#{name}"%"
			</if>
			and (path like concat(#{path},#{userDeptId},',%') or dept_id = #{userDeptId})
			and deleted = 0
		</where>
		order by sort
	</select>

</mapper>