<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="priv.yue.sboot.mapper.MenuMapper">
    <sql id="tableName">
        sys_menu
    </sql>

    <sql id="baseColumn">
        menu_id,pid,sub_count,type,title,name,component,menu_sort,icon,path,i_frame,cache,hidden,permission,create_by,update_by,create_time,update_time
    </sql>

    <resultMap id="menu" type="priv.yue.sboot.domain.Menu">
        <id property="menuId" column="menu_id" />
        <collection property="subMenu" ofType="priv.yue.sboot.domain.Menu" select="getSubMenus" column="menu_id" />
    </resultMap>

    <select id="getSubMenus" resultMap="menu">
        select * from sys_menu where pid = #{id}
    </select>

    <select id="getMenusByUserId" resultType="priv.yue.sboot.domain.Menu">
        SELECT
            a.*
        FROM
            sys_menu a
            LEFT JOIN sys_role_menu b ON a.menu_id = b.menu_id
            LEFT JOIN sys_user_role c ON b.role_id = c.role_id
        WHERE
            c.user_id = #{userId} group by a.menu_id
    </select>

    <select id="queryMenusWithUser" resultMap="menu">
        SELECT
            a.*
        FROM
            sys_menu a
            LEFT JOIN sys_role_menu b ON a.menu_id = b.menu_id
            LEFT JOIN sys_user_role c ON b.role_id = c.role_id
        <where>
            <if test='title != null and title != ""' >
                AND c.user_id = #{userId}
            </if>
            <if test='title != null and title != ""' >
                AND a.title LIKE "%"#{title}"%"
            </if>
        </where>
        GROUP BY
            a.menu_id
    </select>

    <select id="getPermissionsByUser" resultType="priv.yue.sboot.domain.Menu">
        SELECT
            a.permisson
        FROM
            sys_menu a
            LEFT JOIN sys_role_menu b ON a.menu_id = b.menu_id
            LEFT JOIN sys_user_role c ON b.role_id = c.role_id
        WHERE
            c.user_id = #{userId} and a.permission != null
        GROUP BY
            a.menu_id
    </select>

    <select id="getAllMenusByRole" resultMap="menu">
        SELECT
            a.*
        FROM
            sys_menu a,
            sys_role_menu b
        WHERE
            a.menu_id = b.menu_id
            AND b.role_id = #{roleId}
    </select>

</mapper>