<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="priv.yue.sboot.mapper.UserMapper">
    <sql id="tableName">
        sys_user
    </sql>

    <sql id="baseColumn">
        user_id,dept_id,username,nick_name,gender,phone,email,avatar_name,avatar_path,password,is_admin,enabled,create_by,update_by,pwd_reset_time,create_time,update_time,salt
    </sql>

    <insert id="setRoles" useGeneratedKeys="true">
        insert into sys_user_role values (#{userId}, #{roleId});
    </insert>

    <resultMap id="user" type="priv.yue.sboot.domain.User">
        <id property="userId" column="user_id" />
        <collection property="roles" ofType="priv.yue.sboot.domain.Role"
                    select="priv.yue.sboot.mapper.RoleMapper.getRolesNoMenusByUser"
                    column="user_id" />
    </resultMap>

    <select id="getById" resultMap="user" >
        select * from sys_user where user_id = #{id}
    </select>

    <select id="getByName" resultMap="user" >
        select * from sys_user where username = #{username}
    </select>

    <select id="getByNameNoRoles" resultType="priv.yue.sboot.domain.User" >
        select * from sys_user where username = #{username}
    </select>

    <update id="deleteById">
        update sys_user set deleted = 1 where user_id = #{id}
    </update>

</mapper>