<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longyue.springboot_shiro_ehcache.mapper.RoleMapper">
    <sql id="tableName">
        sys_role
    </sql>

    <sql id="baseColumn">
        role_id,name,level,description,data_scope,create_by,update_by,create_time,update_time
    </sql>

    <resultMap id="role" type="com.longyue.springboot_shiro_ehcache.domain.Role">
        <id property="roleId" column="role_id" />
        <result property="level" column="level" />
        <result property="dataScope" column="data_scope" />
        <result property="createTime" column="create_time" />
        <result property="createBy" column="create_by" />
        <result property="description" column="description" />
        <result property="name" column="name" />
        <result property="updateBy" column="update_by" />
        <result property="updateTime" column="update_time" />
        <collection property="menus" ofType="com.longyue.springboot_shiro_ehcache.domain.Menu"
                    select="com.longyue.springboot_shiro_ehcache.mapper.MenuMapper.getRoleMenu"
                    column="role_id" />
    </resultMap>

    <select id="getUserRoles" resultMap="role">
        select a.role_id role_id,a.level level,a.data_scope data_scope,
         a.create_time create_time, a.create_by create_by,
         a.description descripition,a.name name,a.update_time update_time
         from sys_role a,sys_user_role b where a.role_id = b.role_id and b.user_id = #{userId}
    </select>

</mapper>