<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longyue.springboot_shiro_ehcache.mapper.UserMapper">
    <sql id="tableName">
        sys_user
    </sql>

    <sql id="baseColumn">
        user_id,dept_id,username,nick_name,gender,phone,email,avatar_name,avatar_path,password,is_admin,enabled,create_by,update_by,pwd_reset_time,create_time,update_time,salt
    </sql>

    <insert id="setRole" useGeneratedKeys="true">
        insert into sys_user_role values (#{userId}, #{roleId});
    </insert>

    <resultMap id="user" type="com.longyue.springboot_shiro_ehcache.domain.User">
        <collection property="roles" ofType="com.longyue.springboot_shiro_ehcache.domain.Role"
                    select="com.longyue.springboot_shiro_ehcache.mapper.RoleMapper.getUserRoles"
                    column="user_id" />
    </resultMap>

    <select id="getUserById" resultMap="user" >
        select * from sys_user where user_id = #{id}
    </select>

    <select id="getUserByName" resultMap="user" >
        select * from sys_user where username = #{username}
    </select>

</mapper>