<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="priv.yue.system.mapper.JobMapper">

    <sql id="Base_Column_List">
        job_id,dept_id,name,enabled,
        job_sort,create_by,update_by,
        create_time,update_time,deleted
    </sql>

    <resultMap id="BaseRM" type="priv.yue.common.domain.Job">
            <id property="jobId" column="job_id" jdbcType="BIGINT"/>
            <result column="dept_id" jdbcType="BIGINT" property="deptId"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="enabled" column="enabled" jdbcType="BIT"/>
            <result property="jobSort" column="job_sort" jdbcType="INTEGER"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="deleted" column="deleted" jdbcType="BIT"/>
    </resultMap>

    <resultMap id="FullRM" type="priv.yue.common.domain.Job" extends="BaseRM">
        <association property="dept" select="priv.yue.system.mapper.DeptMapper.selectById" column="dept_id"/>
    </resultMap>

    <select id="selectPage" resultMap="FullRM">
        select job.*
        from sys_job job
        left join sys_dept dept on job.dept_id = dept.dept_id
        <where>
            <if test="map.search != null and map.search != ''">
                and job.name like "%"#{map.search}"%"
            </if>
            and (dept.path like concat(#{map.path},#{map.userDeptId},',%') or dept.dept_id = #{map.userDeptId})
            and job.deleted = 0
        </where>
        <if test="map.orderBy != null and map.orderBy != ''">
            order by ${map.orderBy}
        </if>
    </select>

</mapper>
